<h1>My Account</h1>

<% if session["user_id"] != nil %>
    <% current_user = User.find_by(id: params["id"]) %>

    <p>Name: <%= current_user.name %></p>
    <p>Email: <%= current_user.email %></p>
    
<% end %>